:root {
  --main: #d11616;
  --main-opacity-25: rgba(209, 22, 22, 0.25);
  --main-opacity-50: rgba(209, 22, 22, 0.5);
  --main-opacity-65: rgba(209, 22, 22, 0.65);
  --main-opacity-75: rgba(209, 22, 22, 0.75);
  --transition: 0.3s;
  --dark: #333;
}
.a-angle-hover {
  transition: var(--transition);
}
.a-angle-hover:hover {
  padding-left: 10px;
}
/* Start Header */
.navbar.header-2 .purchase-count {
  top: -4px;
  right: 5px;
}
.navbar .btn-header-close {
  top: 5px;
  right: 15px;
}
.header-2 {
  box-shadow: 2px 7px 20px #6a6a6a91;
}
.navbar {
  height: 55px;
}
.navbar .purchase-count {
  width: 15px;
  height: 15px;
  top: -8px;
}
@media (max-width: 767px) {
  .navbar.header-2 .purchase-count {
    top: -2px;
  }
  .navbar.header-2 .purchase-count + i {
    font-size: 30px !important;
  }
}
.navbar-brand .logo,
.navbar-nav .username,
.navbar .navbar-toggler:hover,
.navbar .btn-header-close i {
  color: var(--main);
}
.offcanvas {
  transition: transform 0.1s ease-in-out;
}
.offcanvas-header img {
  border: 6px solid #f1f1f1;
  box-shadow: 0px 0px 15px #777;
}
.offcanvas.offcanvas-end {
  width: 275px;
}
.navbar .navbar-toggler img {
  border: 2px solid var(--main);
  transition: var(--transition);
}
.navbar .navbar-toggler:hover img {
  box-shadow: 0 0 4px 0.2rem var(--main-opacity-25);
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-nav .nav-link {
  font-size: 15px;
  transition: var(--transition);
}
.navbar-brand .logo,
.navbar-nav .username {
  font-weight: 600;
}
.navbar .offcanvas-body .box {
  border: 3px solid var(--main);
}
.navbar .offcanvas-body .box img {
  max-height: 100px;
}
.navbar .offcanvas-body .box .icons {
  border-bottom: 1px solid #777;
}
.navbar .offcanvas-body .box .icons i {
  color: var(--main);
  font-size: 20px;
}
.navbar .offcanvas-body .box .newPrice {
  color: var(--main);
}
.navbar .nav-tabs .nav-link {
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: var(--main);
  padding: 5px;
}
.navbar .nav-tabs .nav-link:hover:not(.active) {
  color: #fff;
}
#profile .nav-link:focus,
#profile .nav-link:hover {
  padding-left: 10px;
}
.navbar .offcanvas-body input[type="number"] {
  width: 50px;
  padding: 1px;
  padding-left: 4px;
}
.navbar .offcanvas-body input[type="number"]:focus {
  box-shadow: 0 0 0 0.15rem var(--main-opacity-50);
}

/* End Header */

/****************   Index   ****************/
/* Start Landing */
.landing .myLanding {
  height: calc(100vh - 110px);
}
/* End Landing */
/* Start offers */
.offers .swiper-slide .row {
  background-color: #fff;
  border: 2px solid var(--main);
  padding: 5px;
  margin: 5px;
  color: #000;
}
.offers .swiper-slide img {
  height: 140px;
}
/* .offers h4 {
  border: 4px solid var(--main);
  width: fit-content;
  padding: 3px 8px;
}
.offers h4::before,
.offers h4::after {
  content: "";
  width: 10px;
  height: 18px;
  position: absolute;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  transform: rotate(50deg);
}
.offers h4::before {
  right: -7px;
  top: -10px;
}
.offers h4::after {
  left: -7px;
  bottom: -10px;
} */
/* End offers */
/* Start Arrival */
.arrivals .nav-pills .nav-link.active,
.arrivals .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--main);
}
.arrivals .nav-link:hover {
  color: var(--dark);
}
.arrivals .arv {
  border: 1px solid var(--main);
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.15);
  transition: var(--transition);
}
.arrivals a:hover .arv {
  transform: translateY(-5px);
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.35);
}
.arrivals .tab-content img {
  height: 140px;
}
.arrivals .price-only {
  text-transform: uppercase;
}
.arrivals .price-offer {
  text-decoration: line-through;
}
/* End Arrival */
/* Start Product */
.products .nav-pills .nav-link.active,
.products .nav-pills .show > .nav-link {
  background-color: var(--main);
  color: #fff !important;
}
.products .nav-link:hover {
  color: var(--main) !important;
}
.products .tab-content img {
  height: 205px;
}
.products .product-items .box {
  box-shadow: 0px -3px 12px 0px inset var(--main-opacity-65);
}
.products .product-list li {
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--dark);
}
.products .product-list li.active,
.products .product-list li:hover {
  border: 1px solid var(--main);
  color: var(--main);
}
/* End Product */
/* Start Contact */
@media (min-width: 768px) {
  .contact {
    background-image: url("https://bilal-obd.github.io/eCommerce/images/contact-sect.svg");
    background-repeat: no-repeat;
    background-position: 0 70%;
    background-size: 34% auto;
  }
}
/* End Contact */
/* Start Footer */
.footer .social a {
  color: var(--main);
  display: flex;
  align-items: center;
}
.footer .social span {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: var(--main);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.footer .social .facebook:hover a {
  color: #1877f2;
}
.footer .social .facebook:hover span {
  background-color: #1877f2;
}
.footer .social .instagram:hover a {
  color: #e1306c;
}
.footer .social .instagram:hover span {
  background-color: #e1306c;
}
.footer .social .linkedin:hover a {
  color: #0077b5;
}
.footer .social .linkedin:hover span {
  background-color: #0077b5;
}
.footer .social .twitter:hover a {
  color: #1da1f2;
}
.footer .social .twitter:hover span {
  background-color: #1da1f2;
}
.footer .social .telegram:hover a {
  color: #0088cc;
}
.footer .social .telegram:hover span {
  background-color: #0088cc;
}
.footer .social li:hover span {
  border-radius: 8px;
}
.footer .reach li {
  overflow: hidden;
}
.footer .reach a {
  position: relative;
  width: fit-content;
}
.footer .reach a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--main);
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: var(--transition);
}
.footer .reach a:hover::before {
  left: 0;
}
.footer .reach a:hover {
  color: var(--main);
}
/* End Footer */

/****************   About   ****************/
.about-pg h3 {
  width: fit-content;
  border-bottom: 2px solid var(--main);
  padding-bottom: 5px;
}
.about-header .square {
  width: 130px;
  height: 130px;
  background-color: var(--main);
  display: block;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button::after {
  background-image: url("https://bilal-obd.github.io/eCommerce/images/plus.png");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("https://bilal-obd.github.io/eCommerce/images/minus.png");
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: var(--main);
}
