:root {
  --main: #d11616;
  --light: #dfdfdf;
  --main-opacity-25: rgba(209, 22, 22, 0.25);
  --main-opacity-50: rgba(209, 22, 22, 0.5);
  --main-opacity-65: rgba(209, 22, 22, 0.65);
  --main-opacity-75: rgba(209, 22, 22, 0.75);
  --shadow: 0 0 1px 0.05rem rgb(17 17 17 / 20%);
  --transition: 0.3s;
  --dark: #111;
}
.a-angle-hover {
  padding-left: 0;
  transition: var(--transition);
}
.a-angle-hover:hover {
  padding-left: 10px;
}
.underline-hover {
  position: relative;
  width: fit-content;
}
.underline-hover::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--main);
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: var(--transition);
}
.underline-hover:hover::before {
  left: 0;
}
.underline-hover:hover {
  color: var(--main) !important;
}
/***************** Components ****************/
/* Start Header */
/* header-2 */
.header-2 {
  box-shadow: 2px 7px 20px #6a6a6a91;
}
.navbar.header-2 .form-select {
  background-color: transparent;
  color: #fff;
  border-color: var(--main);
}
@media (min-width: 767px) {
  .navbar.header-2 .nav-item {
    display: flex;
    align-items: center;
  }
  .navbar.header-2 .nav-item.dropdown {
    border-right: 1px solid var(--main-opacity-50);
    padding-right: 5px;
    margin-right: 5px;
  }
}
.navbar.header-2 .nav-link:hover {
  color: var(--main);
}
@media (max-width: 767px) {
  .navbar.header-2 .navbar-collapse {
    position: absolute;
    top: 100%;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    width: 250px;
  }
}
.navbar.header-2 #languageMenu {
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  z-index: 999;
}
.navbar.header-2 .btn-language {
  border-color: var(--main);
}
.navbar.header-2 .languageDropdown-menu li a {
  font-weight: 600;
  width: 35px;
  height: 35px;
  display: flex;
  background-color: var(--main);
  margin: 10px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}
/*************************/
.navbar .btn-header-close {
  top: 5px;
  right: 15px;
}
.navbar {
  height: 55px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--main);
}
.navbar .purchase-count {
  width: 15px;
  height: 15px;
  top: 0;
  left: 25px;
}
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 22px !important;
  }
}
.navbar-brand .logo,
.navbar-nav .username,
.navbar .navbar-toggler:hover,
.navbar .btn-header-close i {
  color: var(--main);
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-nav .nav-link {
  font-size: 14px;
  transition: var(--transition);
}
#profile .nav-link:focus,
#profile .nav-link:hover {
  padding-left: 10px;
}
.navbar .form {
  position: absolute;
  top: 100%;
  right: -1000%;
  width: 350px;
  z-index: 999;
  background-color: var(--light);
  transition: var(--transition);
}
.navbar .form.active {
  right: 0;
}
@media (max-width: 767px) {
  .navbar .form {
    top: -1000%;
    right: 0;
  }
  .navbar .form.active {
    top: 100%;
  }
}
@media (max-width: 767px) {
  .navbar .form {
    width: 320px;
  }
  .navbar .form.active {
    right: -10px;
  }
}
.navbar .form .form-button {
  font-weight: 600;
}
.navbar .form .form-button.active {
  color: var(--main);
}
/* End Header */
/* Start Footer */
.footer .social a {
  color: var(--main);
  display: flex;
  align-items: center;
}
.footer .social span {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: var(--main);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.footer .social .facebook:hover a {
  color: #1877f2;
}
.footer .social .facebook:hover span {
  background-color: #1877f2;
}
.footer .social .instagram:hover a {
  color: #e1306c;
}
.footer .social .instagram:hover span {
  background-color: #e1306c;
}
.footer .social .linkedin:hover a {
  color: #0077b5;
}
.footer .social .linkedin:hover span {
  background-color: #0077b5;
}
.footer .social .twitter:hover a {
  color: #1da1f2;
}
.footer .social .twitter:hover span {
  background-color: #1da1f2;
}
.footer .social .telegram:hover a {
  color: #0088cc;
}
.footer .social .telegram:hover span {
  background-color: #0088cc;
}
.footer .social li:hover span {
  border-radius: 8px;
}
.footer .form-control {
  border: 1px solid var(--main) !important;
  color: #fff !important;
  width: 275px;
}
.footer .btn-main-alt {
  background-image: linear-gradient(to right, #fff 50%, var(--main) 50%);
  font-weight: 500;
}
.footer .btn-main-alt:hover {
  color: var(--dark);
}
/* End Footer */

/*********************   Index   ***********************/
/* Start Landing */
.landing {
  padding: 20px;
  padding-bottom: 20px;
}
.landing .container {
  height: calc(100vh - 150px);
  background-color: #bcbcc6;
}
.landing .container .image {
  z-index: 1;
  background-position: center;
  background-size: cover;
}
.landing .container h1 {
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .container h1 span {
  display: block;
}
.landing .container h1 .head-1 {
  font-size: calc(40px + 1.5vw);
}
.landing .container h1 .head-2 {
  font-size: calc(75px + 1.5vw);
}
@media (max-width: 767px) {
  .landing .container h1 .head-1 {
    font-size: calc(27px + 1.5vw);
  }
  .landing .container h1 .head-2 {
    font-size: calc(30px + 1.5vw);
  }
}
.landing .container .btn {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
}
@media (max-width: 767px) {
  .landing .container .btn {
    width: 75%;
  }
}
/* End Landing */
/* Start Features */
.features .container .box {
  box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 20%);
}
.features .container .box a {
  color: var(--dark);
}
.features .container .box a:hover {
  color: var(--main);
  text-decoration: underline;
}
.features .container .box img {
  width: 180px;
  height: 180px;
}
.features .container .box .btn-main {
  right: -100%;
}
.features .container .box .btn-main:disabled,
.features .container .box:hover .btn-main {
  right: 10px;
}
.features .container .box .btn-main:disabled {
  opacity: 0.85;
  color: #fff;
}
/* End Features */

/* Start Services */
.services .box {
  padding: 150px 20px;
  overflow: hidden;
}
.services .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.services .box img {
  top: 50%;
  transform: translateY(-50%);
}
.services .box .srv {
  top: 40px;
  left: 0px;
  color: var(--light);
  transform: rotate(-40deg);
}
.services .box .content {
  position: relative;
}
.services .box .content span {
  display: block;
}
.services .box .content span.with {
  font-size: 24px;
}
.services .box .content span.type {
  font-size: 28px;
  font-weight: 800;
  opacity: 0.65;
  text-transform: uppercase;
}
/* End Services */
/* Start Products */
.products .box {
  box-shadow: var(--shadow);
}
@media (max-width: 767px) {
  .products .box .click-image {
    display: none;
  }
}
.products .box .click-image img {
  cursor: pointer;
  border: 1px solid rgb(17 17 17 / 20%);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  width: 80px;
  height: 80px;
}
.products .box .show-image img {
  width: 200px;
  height: 200px;
}
.products .container .box-info a {
  font-size: 13px;
}
.products .container .box-info a:hover {
  color: var(--main) !important;
  text-decoration: underline;
}
.products .box-info .day-remain span {
  background-color: var(--main);
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.products .box-info .price {
  font-size: 14px !important;
}
.products .box-info .price-offer {
  font-size: 12px !important;
}
.products .container .box-info .btn {
  font-size: 14px !important;
}
.products .container .box-info .btn-main:disabled {
  opacity: 0.85;
  color: rgb(151 149 149);
}
/* End Products */
/* Start Clients */
.clients img {
  width: 120px;
  height: 100px;
  filter: grayscale(100%);
}
.clients img:hover {
  filter: grayscale(0);
}
.clients .splide__slide {
  text-align: center;
}
.clients .splide__arrow {
  display: none;
}
.clients .splide__pagination {
  display: none;
}
/* End Clients */
/******************** Blogs ********************/
/* Start Blogs */
.blogs .box {
  box-shadow: var(--shadow);
}
.blogs .box img {
  height: 200px;
}
/* End Blogs */

/***************** Contact ******************/
/* Start Contact */
@media (min-width: 768px) {
  .contact {
    background-image: url("https://bilal-obd.github.io/eCommerce/admin/images/svg/contact-sect.svg");
    background-repeat: no-repeat;
    background-position: 0 70%;
    background-size: 34% auto;
  }
}
.news img {
  position: absolute;
  width: fit-content;
  top: 0;
  right: -100px;
  height: 100%;
}
/* End Contact */

/****************   About   ****************/
.about-pg h3 {
  width: fit-content;
  border-bottom: 2px solid var(--main);
  padding-bottom: 5px;
}
.about-header .square {
  width: 130px;
  height: 130px;
  background-color: var(--main);
  display: block;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button::after {
  background-image: url("https://bilal-obd.github.io/eCommerce/admin/images/svg/plus.png");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("https://bilal-obd.github.io/eCommerce/admin/images/svg/minus.png");
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: var(--main);
}

/***************** Categories ***********************/
.categories .search .form-control {
  border: 1px solid var(--main);
}
.categories .search span {
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.categories .box {
  box-shadow: var(--shadow);
}
.categories .box img {
  width: 180px;
  height: 180px;
}
.categories .content a {
  color: var(--dark);
}
.categories .content a:hover {
  color: var(--main);
  text-decoration: underline;
}
.categories .category-filter li {
  cursor:pointer;
  font-weight: 500;
  transition: var(--transition);
}
.categories .category-filter li.active,
.categories .category-filter li:hover {
  color: var(--main);
}
.categories .pagination ul li {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--main);
}
.categories .pagination ul li a {
  color: #fff;
}
.categories .pagination ul li.pagination-next a {
  color: var(--main);
}

/***************** Categories ***********************/
.blog-details .form-control {
  border: 1px solid var(--main);
}
.blog-details .form-control:focus {
  border: 1px solid var(--dark);
  caret-color: var(--main);
}
